.menu {
  height: 90px;
  background: #ffffff;
  padding-top: 29px;
}
@media (max-width: 500px) {
  .menu {
    height: 60px;
    padding-top: 15px;
  }
}
.menu .menu_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 690px) {
  .menu .menu_1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.menu .menu_1 .menu_2 {
  width: 599px;
  height: 20px;
  margin-top: 9px;
}
@media (max-width: 675px) {
  .menu .menu_1 .menu_2 {
    display: none;
  }
}
.menu .menu_1 .menu_2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .menu_1 .menu_2 ul > li {
  width: 75px;
  height: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
  list-style: none;
  gap: 53px;
}
.menu .menu_1 button {
  background-color: #43806C;
  height: 40px;
  width: 137px;
  border-radius: 9px;
  color: white;
  border: none;
}

.home {
  background: #dddbce url("../images/home/header.jpg") no-repeat center;
  background-size: cover;
}
@media (max-width: 700px) {
  .home {
    background: #43806C;
    padding-bottom: 20px;
  }
}
@media (max-height: 600px) {
  .home {
    margin-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .home {
    height: 425px;
  }
}
.home .home__inner {
  padding-top: 160px;
  height: calc(100vh - 90px);
}
@media (max-width: 900px) {
  .home .home__inner {
    padding-top: 65px;
    padding-bottom: 57px;
  }
}
.home .home__inner h1 {
  width: 516px;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .home .home__inner h1 {
    color: white;
    font-size: 22px;
    line-height: 30px;
    width: 280px;
  }
}
.home .home__inner p {
  margin-bottom: 30px;
  height: 24px;
  right: 80.61%;
  top: 178px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
}
.home form {
  height: 60px;
  width: 403px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #214E41;
  border-radius: 6px;
}
@media (max-width: 500px) {
  .home form {
    height: 50px;
    width: 320px;
  }
}
.home form button {
  width: 123px;
  height: 60px;
  color: white;
  border-radius: 0 6px 6px 0;
  background-color: #214E41;
  border: none;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
@media (max-width: 500px) {
  .home form button {
    height: 50px;
    width: 85px;
    background-color: #b7ad9b;
    color: #214E41;
  }
}
.home form input {
  height: 60px;
  width: 280px;
  background-color: white;
  border: solid 0.5px white;
  padding-left: 15px;
  border-radius: 6px 0 0 6px;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
@media (max-width: 500px) {
  .home form input {
    height: 50px;
    width: 234px;
  }
}

/******************/
.info {
  margin-top: -85px;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .info {
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .info {
    margin-bottom: 60px;
  }
}
.info .info__inner {
  height: 171px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 950px) {
  .info .info__inner {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 auto;
    width: 300px;
  }
}
.info .info__inner .content {
  margin-left: 15px;
}
.info .info__inner .info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 950px) {
  .info .info__inner .info__item {
    -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
            box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
    background-color: #F6ECDD;
    width: 320px;
    height: 69px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .info .info__inner .info__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.info .info__inner .info__item h5 {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
}
.info .info__inner .info__item span {
  line-height: 20px;
  font-family: "Raleway";
  font-style: normal;
  color: #214E41;
}
@media (max-width: 1000px) {
  .info .info__inner .info__item span {
    display: none;
  }
}

/***********deductible****************/
.deductible_parent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}
.deductible_parent .container__3 {
  width: 510px;
}
@media (max-width: 1031px) {
  .deductible_parent .container__3 {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .deductible_parent .container__3 {
    width: 320px;
    height: 339px;
  }
}
.deductible_parent .container__3 > span {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (max-width: 530px) {
  .deductible_parent .container__3 > span {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
  }
}
.deductible_parent .container__3 > h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-top: 20px;
  margin-bottom: 34px;
}
@media (max-width: 530px) {
  .deductible_parent .container__3 > h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.deductible_parent .container__3 > .p_inner_1 {
  width: 510px;
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 26px;
}
@media (max-width: 530px) {
  .deductible_parent .container__3 > .p_inner_1 {
    width: 320px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
}
.deductible_parent .container__3 > a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #214e41;
}
.deductible_parent .diagrama {
  width: 510px;
  height: 396px;
}
@media (max-width: 1032px) {
  .deductible_parent .diagrama {
    display: none;
  }
}

/**********issues*********/
.issues {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
}
.issues .issues_parent {
  width: 1200px;
  margin: 120px auto auto;
}
.issues .issues_parent .issues1_1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 530px) {
  .issues .issues_parent .issues1_1 {
    width: 320px;
    height: 339px;
  }
}
.issues .issues_parent .issues1_1 .issues2 {
  width: 600px;
}
@media (max-width: 1217px) {
  .issues .issues_parent .issues1_1 .issues2 {
    width: 100%;
  }
}
@media (max-width: 1160px) {
  .issues .issues_parent .issues1_1 .issues2 {
    width: 90%;
  }
}
@media (max-width: 1090px) {
  .issues .issues_parent .issues1_1 .issues2 {
    width: 715px;
  }
}
@media (max-width: 715px) {
  .issues .issues_parent .issues1_1 .issues2 {
    width: 500px;
  }
}
.issues .issues_parent .issues1_1 .issues2 > span {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}
.issues .issues_parent .issues1_1 .issues2 > h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  height: 92px;
  margin: 20px auto 40px auto;
  font-style: normal;
  /* or 128% */
  color: #214e41;
}
@media (max-width: 530px) {
  .issues .issues_parent .issues1_1 .issues2 > h1 {
    width: 296px;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 0;
  }
}
.issues .issues_parent .issues1_1 .issues2 > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 100%;
}
@media (max-width: 530px) {
  .issues .issues_parent .issues1_1 .issues2 > p {
    width: 320px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
}
.issues .issues_parent .issues1_1 .issuesimg {
  width: 600px;
}
@media (max-width: 1217px) {
  .issues .issues_parent .issues1_1 .issuesimg {
    display: none;
  }
}

/**********container************/
.container__2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  background-color: #fff;
  margin: 60px auto auto auto;
  gap: 70px;
  -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
}
@media (max-width: 1235px) {
  .container__2 {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 320px;
    height: 567px;
  }
}
@media (max-width: 970px) {
  .container__2 {
    display: inline-block;
  }
}
.container__2 .p_2 {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  color: #214E41;
}

.container__21 > .p_1 {
  color: chocolate;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  font-family: "Roboto", sans-serif;
}

.container__2 .p_1 {
  color: chocolate;
  margin-top: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.container__2 .p_1:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  display: inline-block;
  position: relative;
}

/************easy**************/
.easy {
  background: white url("../images/foto/woman.svg") no-repeat center;
  background-size: cover;
  height: 531px;
  margin-top: 120px;
}
.easy .easy_3 {
  width: 500px;
  height: 282px;
  padding-top: 124px;
}
@media (max-width: 600px) {
  .easy .easy_3 {
    width: 320px;
    height: 332px;
    margin-left: 10px;
  }
}
.easy .easy_3 > span {
  height: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  width: 114px;
  text-transform: uppercase;
}
.easy .easy_3 > h1 {
  margin-top: 20px;
  margin-bottom: 34px;
  color: #214E41;
}
@media (max-width: 500px) {
  .easy .easy_3 > h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }
}
.easy .easy_3 > p {
  margin-bottom: 26px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #214E41;
}
@media (max-width: 600px) {
  .easy .easy_3 > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: white;
  }
}
.easy .easy_3 > a {
  width: 100px;
  height: 18px;
  left: calc(50% - 50px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #214E41;
}

/*************proudly*****************/
.proudly_2 {
  margin-top: 120px;
}
.proudly_2 .proudly_2_1 {
  width: 1200px;
  height: 46px;
    text-align: center;
    margin-bottom: 110px;

}
.proudly_2 .proudly_2_2 {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 124px;
}
.proudly_2 .proudly_2_1 > h1 {
  color: #214E41;
}

/*****************posts*****************/
.posts_2 {
   margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.posts_2 .posts_21 {
    width: 355px;



}
.posts_img {
    height: 240px;
    width: 355px;

}
.posts_2 .postsspan {
    font-family: 'Raleway';
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 20px;
    text-transform: uppercase;

}
.posts_2 .postsh2 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15px;
  color: #214E41;
}

/***************footer*********/
.footer{
  background-color: #214E41;
}
.container_second_footer {
  margin-top: 120px;
}
.container_second_footer .footer_2 {
  width: 1200px;
  height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container_second_footer .footer_2 .footer_21 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    height: 192px;
    width: 592px;
    margin-top: 63px;




}
.container_second_footer .footer_2 .footer_21 .footerbrella > img {
  width: 98px;
  height: 28px;

}

.container_second_footer .footer_2 .footer_21 .amir1 {
    height: 192px;
    width: 186.65625px;
    text-align: center;

}
.container_second_footer .footer_2 .footer_21 .amir1 > a > ul > li {
    list-style: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 45px;

}
.container_second_footer .footer_2 .footer_21 .amir1 > p {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.container_second_footer .footer_2 .footer_22 {
  margin-top: 64px;
  margin-left: 250px;
}
.container_second_footer .footer_2 .footer_22 > span {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0199999996px;
  text-align: left;
  color: white;
  text-transform: uppercase;
}
.container_second_footer .footer_2 .footer_22 > p {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  height: 48px;
  width: 345px;
  margin-top: 20px;
  margin-bottom: 16px;
}
.container_second_footer .footer_2 .footer_22 > img {
  height: 26px;
  margin-top: 30px;
}
.container_second_footer .footer_2 form {
  height: 52px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.container_second_footer .footer_2 form input {
  height: 52px;
  width: 350px;
  background-color: #214E41;
  border: solid 0.5px white;
  font-size: 16px;
  padding-left: 15px;
}
.footer_22 .socseti {
  display: flex;
  gap: 25px;
  margin-top: 25px;

}
.container_second_footer .line {
  height: 1px;
  background-color: white;
  margin-top: 90px;
}
.container_second_footer .footer_3 {
  height: 24px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container_second_footer .footer_3 > span {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}